@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #fff;
  --primary-red: #eb1c1c;
  --primary-dark: #000;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
}

* {
  font-family: "Roboto Condensed", sans-serif;
}

/*Navbar*/
nav {
  z-index: 2;
}

.navbar {
  background: black;
  border-bottom: 1px solid var(--primary-red);
  overflow: hidden;
}

/*Navbar Links*/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 00.1875rem solid var(--primary-dark);
}

.navbar-brand {
  color: #fff;
  max-width: 17.25rem;
  padding: 0;
  /* height: 6rem !important; */
}

.navbar-brand:hover {
  color: var(--primary-white);
  text-decoration: none;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-red);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-red);
}

/*Header*/

.header-wraper {
  position: relative;
  background: url(./assets/header.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-white);
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
}

/*Typed Text*/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media (max-width: 768px) {
  .typed-text {
    font-size: 1.3rem !important;
  }
}

/*Header BTN*/
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.652rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin-top: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-red);
  transition: 0.2s ease-in-out;
  color: var(--primary-white);
}

/*Particles*/

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

/*About Me*/
.aboutme-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: var(--primary-light-grey);
}

.row {
  width: 100%;
}
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid var(--primary-red);
}

.about-heading {
  color: var(--primary-red);
  text-transform: uppercase;
}

.about-skills {
  color: var(--primary-red);
  text-transform: uppercase;
}

@media (max-width: 486px) {
  .profile-img {
    width: 10rem;
    height: 10rem;
  }

  .about-heading {
    font-size: 1.1rem;
  }
  .about-skills {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.8rem;
  }
}

/*Experience*/
.experience {
  padding: 0.7rem;
}
.experience-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: var(--primary-red);
}

.experience-wrapper:before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-grey);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark);
  background: var(--primary-red);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0.09375rem;
  color: var(--primary-dark-grey);
  direction: ltr;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-red);
  font-weight: 900;
}

@media (max-width: 786px) {
  .experience .container {
    padding: 0;
  }
  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }

  .marker {
    margin-right: 1rem;
  }

  .experience h1 {
    font-size: 1.1rem;
  }
  .timeline-content h3 {
    font-size: 0.8rem;
  }
}

/*Porjects*/

.projects-wrapper {
  background: var(--primary-light-grey);
  padding: 3rem 0;
}

.projects-wrapper h1 {
  color: var(--primary-red);
}

@media (max-width: 768px) {
  .projects-wrapper h1 {
    font-size: 1.1rem;
  }
}

.projects-image {
  width: 15rem;
  height: 10rem;
  border: 1px solid var(--primary-red);
  padding: 0.5rem;
}

.projects-image-box {
  position: relative;
  margin: 1rem;
}

.projects-overflow {
  position: absolute;
  opacity: 0;
  background: #000000;
  width: 15rem;
  height: 10rem;
  top: 0;
  border: 1px solid var(--primary-red);
  cursor: pointer;
}

.projects-image-box:hover .projects-overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.projects-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 4.2rem;
  color: var(--primary-red);
  font-size: 1.5rem;
}

.projects-image-box:hover .projects-icon {
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.projects-image-popupbox {
  width: 45rem;
  padding: 0 0.5rem;
}

.hyper-link {
  cursor: pointer;
  color: #000000;
}

.hyper-link:hover {
  color: var(--primary-red);
}

@media (max-width: 768px) {
  .projects-image-popupbox {
    width: 100%;
  }
}

@media (max-height: 570px) {
  .popupbox-wrapper {
    height: 100%;
  }

  .projects-image-popupbox {
    width: 50%;
  }
}

@media (max-height: 280px) {
  .popupbox-wrapper {
    height: 80%;
  }

  .projects-image-popupbox {
    width: 30%;
  }
}
