@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #fff;
  --primary-red: #eb1c1c;
  --primary-dark: rgba(255, 255, 255, 0);
}

* {
  font-family: "Roboto Condensed", sans-serif;
}

/*Navbar*/
nav {
  z-index: 2;
}

.navbar {
  background: black;
  border-bottom: 1px solid var(--primary-red);
}

/*Navbar Links*/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 00.1875rem solid var(--primary-dark);
}

.navbar-brand {
  color: #fff;
  max-width: 17.25rem;
  padding: 0;
  /* height: 6rem !important; */
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-red);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-red);
}

/*Header*/

.header-wraper {
  position: relative;
  background: url(./assets/header.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-white);
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
}

/*Typed Text*/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media (max-width: 768px) {
  .typed-text {
    font-size: 1.3rem !important;
  }
}

/*Header BTN*/
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.652rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin-top: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-red);
  transition: 0.2s ease-in-out;
}

/*Particles*/

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}
